:root {
  --main-text-color: #003654;
  --secondary-text-color: rgba(0, 0, 0, 0.37);
  --link-text-color: #00679A;
  --main-background-colr: #ffffff;
}

body {
margin: 0;
min-height: 100vh;
align-items: center;
justify-content: center;
background-color: #f9f9fd;
font-family: 'Rubik', sans-serif;
}


ul,
li,
link,
a,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.container {
width: 1140px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
outline: 2px solid tomato;
}

/* Header */
.page-header {
}
.page-header {}

.main-nav {}

.logo {}

.link {}

.button {}

.button-search {
  font-weight: 500;
  font-size: 14px;
  padding: 10px 30px;
  line-height: 1.21;
  text-align: center;
  color: var(--main-text-color);
  border: 2px solid var(--main-text-color);
  background-color: var(--main-background-colr);
  box-sizing: border-box;
  border-radius: 9px;
}

.name-user {}

.header-banner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 62px;
}

.category-list {}

.category-item {}

.category-title {}

.category-link {}

.main-desc {}

.main-title-desc {}

.main-text-desc {}

.main-subtitle-desc {}

.main-subtitle-heading {}

.regions-poland {}

.regions-poland-list {}

.regions-poland-item {}

.hidden {}

.footer-banner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 117px;
  margin-bottom: 109px;
}

.new-ads {}

.new-ads-title {}

.new-ads-list {}

.new-ads-item {}

.new-ads-link {}

.new-ads-text {}

.popular-city {}

.popular-city-title {}

.popular-city-list {}

.popular-city-item {}

.popular-city-link {}

.popular-keywords {}

.popular-keywords-title {}

.popular-keywords-list {}

.popular-keywords-item {}

.popular-keywords-link {}

.popular-shops {}

.popular-shops-title {}

.popular-shops-list {}

.popular-shops-item {}

.popular-shops-link {}

.shop-count-ads {}

.shop-name {}

.footer {}

.footer-menu {}

.footer-menu-list {}

.footer-menu-item {}

.footer-menu-link {}

.footer-social {}

.footer-social-list {}

.footer-social-item {}

.footer-social-link {}

.copyright {}

.text-copyright {}